.single-board {
  display: grid;
  height: 30vh;
  width: 30vh;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.single-board > div {
  border: 1px solid black;
  height: 40px;
  width: 40px;
}
